@charset "UTF-8";
@font-face {
  font-family: "8134";
  /* Имя шрифта */
  src: url("/fonts/8143.otf");
  /* Путь к файлу со шрифтом */
}

body {
  max-width: 1600px;
  padding: 0;
  margin: 0 auto;
}

header {
  background: url("img/Layer 96.png");
  background-clip: border-box;
  background-size: cover;
  background-position: -50px 5px;
  overflow: hidden;
  height: 880px;
}

.header-container {
  max-width: 1200px;
  height: 101px;
  margin: 0 auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 101px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__list_mod {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.item {
  margin: 0 5px;
}

.item .link {
  text-decoration: none;
  font-family: "8134";
  color: #ffffff;
  font-size: 20px;
}

.item .link_bot {
  position: relative;
}

.item .link_bot::after {
  position: absolute;
  bottom: -30px;
  left: 0;
  content: "";
  border-bottom: 2px solid #11749e;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.item .link_bot:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.item .icon {
  background: url("icons/sprites2.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 39px;
  width: 40px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.item .icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item .icon-1 {
  background-position: 0 top;
}

.item .icon-2 {
  background: url("icons/sprites2.png");
  background-position: 40px top;
}

.item .icon-3 {
  background: url("icons/sprites2.png");
  background-position: 80px top;
}

.item .icon-4 {
  background: url("icons/sprites2.png");
  background-position: 120px top;
}

.text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title {
  color: #f5f5f5;
  font-size: 7rem;
  margin-bottom: 1px;
}

.subtitle {
  margin-top: 1px;
  color: #11749e;
  font-size: 24.79px;
  letter-spacing: 1.5rem;
}

.second-container {
  background-color: #11749e;
  min-height: 761px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature-container {
  min-height: 600px;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-title {
  font-size: 1.7rem;
  color: #ffffff;
  position: relative;
  z-index: 10;
}

.feature-title::after {
  content: "W";
  color: rgba(46, 133, 170, 0.5);
  font-size: 15rem;
  position: absolute;
  top: -110px;
  left: 20%;
  z-index: -1;
}

.-feature-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-item {
  min-height: 300px;
  text-align: center;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.feature-item .feature-img {
  width: 132px;
  height: 132px;
  background-color: #2e85aa;
  border-radius: 50%;
  position: relative;
}

.feature-item .feature-img img {
  position: absolute;
  top: 49px;
  left: 49px;
}

.feature-item .feature-subtitle {
  font-size: 1.1rem;
  color: white;
}

.feature-item .feature-text {
  font-size: 0.9rem;
  color: white;
}

.third-container {
  min-height: 925px;
}

.extensions-items {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.extensions-item {
  width: 50%;
  min-height: 462.5px;
}

.extensions-item-2 {
  background: url("img/Rectangle6copy3.png") no-repeat;
  background-size: cover;
}

.extensions-item-3 {
  background: url("img/Rectangle6copy4.png") no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */